@use "../base/variables";
@use "../utils/mixins";

%base-h2 {
  color: variables.$heading-color;
  font-weight: 400;
  margin: 2rem 0;
}

%base-p {
  margin-bottom: variables.$margin-bottom-regular;
  line-height: 1.6;
}

.banner {
  padding: 2rem;
  background-size: cover;
  background-position: center;
  color: variables.$secondary-color;
  @include mixins.flexbox($align: start, $direction: column);

  &.banner-1 {
    background-image: url("../../assets/banner-1.png");
    .banner-content-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    h2 {
      @extend %base-h2;
      text-align: left;

      @include mixins.respond-to(medium) {
        font-size: 4rem;
      }
      @include mixins.respond-to(small) {
        font-size: 2.5rem;
        line-height: 4rem;
      }
    }
    p {
      font-size: 1.25rem;
      text-align: left;
      @extend %base-p;

      @include mixins.respond-to(small) {
        font-size: variables.$font-size-base;
      }
    }
  }
  &.banner-2 {
    background-image: url("../../assets/banner-2.png");
    min-height: 25rem;
    @include mixins.flexbox($direction: column);
    h2 {
      @extend %base-h2;
      text-align: center;
      font-size: 4rem;

      @include mixins.respond-to(small) {
        font-size: 1.75rem;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      @extend %base-p;
    }
  }
}
.banner-content {
  grid-column: 2 / 4;
  align-content: start;
  h2 {
    @extend %base-h2;
    text-align: left;
    font-size: 5.75rem;
    line-height: 5.84rem;
    span {
      font-weight: 600;
    }
  }
  p {
    font-size: 1.25rem;
    text-align: left;
    @extend %base-p;
  }
}
.banner-3 {
  max-width: 100%;
}
.services {
  padding: 6rem 0;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: variables.$subheading-color;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .services-container {
    @include mixins.flexbox();
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 5rem;

    @include mixins.respond-to(medium) {
      flex-direction: column;
    }
    @include mixins.respond-to(small) {
      flex-direction: column;
    }
  }
}
.products {
  padding: 2rem;
  h2 {
    font-size: 2.5rem;
    color: variables.$subheading-color;
    text-align: center;
    margin: 4rem auto;
  }
  .products-container {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    padding: 0 2rem;

    @include mixins.respond-to(large) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.respond-to(medium) {
      grid-template-columns: auto;
    }
    @include mixins.respond-to(small) {
      grid-template-columns: 1fr;
    }
  }
}

.banner-4 {
  background-image: url("../../assets/cafe-graos.png");
  min-height: 25rem;
  background-size: cover;
  background-position: center;
}
