@use "../base/variables";
@use "sass:color";
@use "../utils/mixins";

.btn {
  color: variables.$secondary-color;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: variables.$border-radius;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
  font-size: variables.$font-size-base;
  line-height: 1.5;
  background-color: variables.$accent-color;
  @include mixins.transition(background-color);
  &:hover {
    background-color: color.adjust(variables.$accent-color, $lightness: -10%);
    border-color: color.adjust(variables.$accent-color, $lightness: -10%);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(variables.$primary-color, 0.5);
  }
}
