@use "../base/variables";
@use "../utils/mixins";
input,
select {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: variables.$font-size-base;
  line-height: 1.5;
  color: variables.$primary-color;
  background-color: variables.$secondary-color;
  background-clip: padding-box;
  border: 1px solid variables.$form-border-color;
  border-radius: variables.$border-radius;
  @include mixins.transition(border-color, box-shadow);
  &:focus {
    border-color: variables.$accent-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(variables.$accent-color, 0.25);
  }

  @include mixins.respond-to(medium) {
    font-size: 0.95rem;
    padding: 0.6rem;
  }
  @include mixins.respond-to(small) {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}
.form-group {
  margin-bottom: variables.$margin-bottom-regular;
  label {
    display: block;
    margin: 0.5rem;

    @include mixins.respond-to(small) {
      margin: 0.25rem;
    }
  }
}
.contact {
  padding: 2rem;
  h3 {
    text-align: center;
    margin-bottom: variables.$margin-bottom-regular;

    @include mixins.respond-to(medium) {
      font-size: 1.5rem;
    }
    @include mixins.respond-to(small) {
      font-size: 1.25rem;
    }
  }
  .contact-container {
    width: 50%;
    max-width: 65%;
    margin: 0 auto;
    border: 1px solid #868e96;
    border-radius: 0.5rem;
    padding: variables.$padding-regular;
    margin: 3rem auto;

    @include mixins.respond-to(medium) {
      padding: variables.$padding-regular;
      margin: 3rem auto;
      width: 75%;
    }
    @include mixins.respond-to(small) {
      padding: variables.$padding-regular;
      margin: 3rem auto;
      width: 75%;
    }
  }
}
