$primary-color: #212529;
$secondary-color: #fff;
$accent-color: #8a5e36;
$font-family-primary: "Barlow", sans-serif;
$font-size-base: 1rem;
$padding-regular: 1rem;
$margin-bottom-regular: 1rem;
$border-radius: 0.5rem;
$transition-duration: 0.3s;
$scale-factor: 1.1;
$modal-bg: #fff;
$modal-shadow: rgba(0, 0, 0, 0.3);
$modal-max-width: 37.5rem;
$modal-padding: 1em;
$modal-border-color: #dee2e6;
$close-button-size: 1.5em;
$heading-color: #feffcf;
$subheading-color: #462e09;
$nav-link-color: #7b7574;
$form-border-color: #ced4da;
$dark-primary-color: #212529;
$dark-secondary-color: #fff;
$dark-accent-color: #b29463;
$dark-modal-bg: #212529;
$dark-modal-border-color: #dee2e6;
